<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/iphone.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>L.A.M.A.I.</ion-card-subtitle>
        <ion-card-title>Welcome to Mobile Behavior</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been installed, you'll want to start building your behavioral profil. A behavioral profil is developed based on prior usage patterns of the user thought the interactions occurring though the variouse channels.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
	<ion-card-subtitle>
	Geolocation demo
	</ion-card-subtitle>
		<p>latitude : {{lat}}</p>
		<p>longitude : {{lng}}</p>
	<ion-card-subtitle>
    Wifi Scanner
	</ion-card-subtitle>
     <!--p>latitude : {{data}}</p-->
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://scholarworks.sjsu.edu/cgi/viewcontent.cgi?referer=https://www.google.com/&httpsredir=1&article=1227&context=slissrj">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Behavior Documentation</ion-label>
      </ion-item>
      <ion-item href="https://www.uca.ma/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>School University</ion-label>
      </ion-item>
      <ion-item href="http://www.fstg-marrakech.ac.ma/">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Faculty of Science and Technology</ion-label>
      </ion-item>
      <ion-item href="https://www.facebook.com/groups/486632168344444/">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Laboratory of Applied Mathematics and Computer Science (PhD Students 2017)</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
